# =========================
# Compiled output
# =========================
dist/
tmp/
out-tsc/
bazel-out/
build/

# =========================
# Node (ALL node_modules)
# =========================
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Angular
# =========================
.angular/
.angular/cache/
.cache/

# =========================
# IDEs and editors
# =========================
.idea/
.project
.classpath
.c9/
.settings/
*.launch
*.sublime-workspace

# =========================
# VS Code
# =========================
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# =========================
# Testing / Coverage
# =========================
coverage/
testem.log

# =========================
# Misc
# =========================
.sass-cache/
connect.lock
libpeerconnection.log
typings/
__screenshots__/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db